#spinner-container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
  }
  #spinner-container-delete {
    display: none;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
  }

  #spinner-container-close {
    width: 12rem;
    display: none;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: #999;
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  